#container {
  margin: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

/* Text before the container */
#container::before {
  content: "Before Element" ;
  color: #f00;
  font-size: 20px;
}

/* Text after the container */
#container::after {
  content: "After Element";
  color: #f00;
  font-size: 20px;
}
